{% comment %}

Copyright 2012 Google Inc. All Rights Reserved.

This template builds the page header for the summary page on the Chrome OS
Test Dashboard. It consists of a series of hyperlinks to related pages.
{% endcomment %}
<div style="border:5px; text-align:right;">
<a href="../dashboard/index.html">HOME</a> |
<a href="waterfall_kernel.html">KERNEL</a> |
<a href="emails.html">EMAILS</a> |
<a href="http://cautotest" target="_blank">CAUTOTEST</a> |
<a href="http://chromegw.corp.google.com/i/chromiumos/console"
   target="_blank">EXTERNAL BUILDBOT</a> |
<a href="http://chromegw/i/chromeos/console"
   target="_blank">INTERNAL BUILDBOT</a> |
<a href="http://www/~chromeos-test/systemhealth"
   target="_blank">SYSTEM HEALTH</a> |
<a href="http://cros-reports/croschart/server/testreport?interval=4,week"
   target="_blank">TESTS</a>
<p>
  <i>last updated: {{ tpl_last_updated }}</i>
</p>
</div>
