{% comment %}

Copyright 2011 Google Inc. All Rights Reserved.

This template for easier redirect of test landing page.
{% endcomment %}
<!doctype html>
<html>
<head>
<meta http-equiv="REFRESH" content="0;url=/results/dashboard/waterfall_index.html">
</head>
</html>

