{% extends "tables/base.html" %}
{% comment %}

Copyright 2012 Google Inc. All Rights Reserved.

Aggregates bvt results with dynamically plotted perf charts.
{% endcomment %}
{% block title %}ChromeOS Test Dashboard{% endblock %}
{% block html_block %}
<iframe src="bvt.html" name="ifm" id="ifm"
        style="height:48%; width:99%; float:top; border:0;"></iframe>
<hr>
<iframe src="http://cros-reports/croschart/server/chartreport?board={{ tpl_board }}&system={{ tpl_netbook }}&interval=4,week"
        name="ifm2" id="ifm2"
        style="height:49%; width:99%; float:top; border:0;"></iframe>
{% endblock %}
