{% extends "tables/base.html" %}
{% comment %}

Copyright 2012 Google Inc. All Rights Reserved.

Aggregates per-build perf results with dynamically plotted perf charts.
{% endcomment %}
{% block title %}ChromeOS Performance Test Dashboard{% endblock %}
{% block html_block %}
<iframe src="perf_builds.html" name="ifm" id="ifm"
        style="height:100%; width:15%; float:left; border:0;"></iframe>
<iframe src="http://cros-reports/croschart/server/chartreport?board={{ tpl_board }}&system={{ tpl_netbook }}&interval=4,week"
        name="ifm2" id="ifm2"
        style="height:100%; width:84%; float:left; border:0;"></iframe>
{% endblock %}
