<nobr><b>Chrome Version</b>: {{ chrome_version }}</nobr><br>
<nobr><b>Build Start</b>: {{ started_time }}</nobr><br>
<nobr><b>Build Finish</b>: {{ finished_time }}</nobr><br>
<nobr><b>Total Build Time</b>: {{ build_time }}</nobr><br>
