<html>
<head>
<title>
 ChromiumOS Autotest Dashboard
</title>
</head>
<body>
  This dashboard is only available to @google.com users for now. But you are login as {{ email }}. We will open to public later.
  <p>
  You maybe <a href="/_ah/login?action=Logout">logout</a> and login again.
</body>
</thml>
