<td align="center">{{ netbook_name }}<br>
  <a class="info" href="{{ netbook_name }}/{{ board_name }}">
     combined
     <span style="width:300px">View test and performance results for {{ board_name }} on {{ netbook_name }}</span>
  </a>&nbsp;|&nbsp;
  <a class="info" href="/board?netbook={{ netbook_name }}&board={{ board_name }}&category=bvt">
      bvt
      <span style="width:300px">View bvt test results for {{ board_name }} on {{ netbook_name }}</span>
  </a>&nbsp;|&nbsp;
  <a class="info" href="/?{{ netbook_name }}/{{ board_name }}/perf_index.html">
      perf
      <span style="width:300px">View performance plots for {{ board_name }} on {{ netbook_name }}</span>
  </a>
</td>
