<div style='float:left;'>
  <form method="get" action="/test">
    <b>Test Name</b>:
    <input type="text" name="test_name" value="{{  test_name }}">
    <input type="submit" value="Search">
  </form>
</div>
