{% extends "base.html" %}
{% comment %}

Copyright 2010 Google Inc. All Rights Reserved.

This template builds a single plot on a single page for a zoomed-in view.
{% endcomment %}
{% block title %}ChromeOS Performance Chart{% endblock %}
{% block body_block_header %}<body>{% endblock %}
{% block html_block %}
<center>
{% if e.msg %}
<b>{{ e.msg }}</b><br>
{% endif %}
({{ tpl_params.testkey }}: data is unavailable.)
</center>
{% endblock %}
